<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sleutel" value="1234" />
    <add key="fruit" value="aardebi" />
    <remove key="aaa" />
    <add key="aaa" />
    <add key="number" value="20"/>

  </appSettings>

  <connectionStrings>
    <add connectionString="abc" name="Test"/>
  </connectionStrings>

</configuration>
